.wtextfield-container, .wtextfield-value {
	box-sizing: border-box;
}

.wtextfield-container {
	display: inline-block;
	position: relative;
}

input.wtextfield-value:focus {
   outline: none;
}

.wtextfield-value {
	padding: 3px;
	display: inline-block;
	border: 1px silver solid;
	border-radius: 5px;
}

.wtextfield-value::after {
	content: '';
	display: inline-block;
}
